* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 60%;
    margin: 0 auto;
    padding: 8px 0;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

main h2, main p{
    text-align: center;
}

main h2::before{
    content: "";
    display: block;
    margin-top: 20px;
}

form{
    width: 70%;
    margin: 0 auto;
}

form > div{
    display: flex;
    margin: 6px 0;
}

form > div label,
.reverse .vazio{
    width: 40%;
}

form > div input,
form > div select,
.reverse div label,
form > div textarea{
    width: 60%;
}

#novidades{
    width: 20px;
}

.reverse > div label{
    font-size: 12px;
}

div span{
    color: red;
}

.btn{
    width: 150px;
    height: 30px;
    margin: 20px auto;
}

.btn button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
